version: 2

defaults: &defaults
  working_directory: ~/repo
  steps:
    - checkout
    - run: npm install
    - run: npm test

jobs:
  build-node8:
    <<: *defaults
    docker:
      - image: circleci/node:8

  build-node9:
    <<: *defaults
    docker:
      - image: circleci/node:9

  build-nodelatest:
    <<: *defaults
    docker:
      - image: circleci/node:latest

workflows:
  version: 2
  build:
    jobs:
      - build-node8
      - build-node9
      - build-nodelatest
